* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Segoe UI", sans-serif;
    background-color: #0f172a;
    color: white;
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 90%;
    max-width: 900px;
    text-align: center;
}

h1 {
    font-size: 4rem;
    margin-bottom: 10px;
}

.subtitle {
    color: #94a3b8;
    margin-bottom: 50px;
    font-size: 1.1rem;
}

h2 {
    margin-bottom: 30px;
    font-weight: 400;
}

.prompt-container {
    display: flex;
    gap: 10px;
    margin-bottom: 40px;
}

#userPrompt {
    flex: 1;
    padding: 18px;
    border: none;
    border-radius: 16px;
    font-size: 1rem;
    outline: none;
}

#submitBtn {
    padding: 18px 28px;
    border: none;
    border-radius: 16px;
    background: #2563eb;
    color: white;
    cursor: pointer;
    font-weight: 600;
}

#submitBtn:hover {
    background: #1d4ed8;
}

.suggestions {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
}

.suggestions p {
    background: #1e293b;
    padding: 15px;
    border-radius: 12px;
    cursor: pointer;
    transition: 0.2s;
}

.suggestions p:hover {
    background: #334155;
}